{% load tags %}
{% load static %}

<div class="jsPath" data-js="{%static 'activity.js'%}" />

<div class="activity-list">
  <table id="activity-table">
    <tr>
      <th>Priority</th>
      <th>Title</th>
      <th>Volume</th>
      <th>Issue</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  {% for item in queue %}
    <tr id="item{{item.id}}">
      <td class="id">{{item.priority}}</td>
      <td class="name">{{item.issue.original_text}}</td>
      <td class="volume">{{item.issue.volume}}</td>
      <td class="issue">{{item.issue.issue|floatformat}}</td>
      <td class="status">
        {{item.status | capfirst}}
        {% if item.status == "error" %}
          {% if item.error_message|length > 100 %}
            <div class="error-message-extended closed">{{item.error_message}}</div>
          {% else %}
            <div class="error-message">{{item.error_message}}</div>
          {% endif %}
        {% endif %}
      </td>
      <td class="actions">
        <div class="actions-container">
          <i class="fa fa-repeat" id="retryItem" data-id="{{item.id}}" title="Retry Download"></i>
          <i class="fa fa-trash" id="deleteItem" data-id="{{item.id}}" title="Delete Queue Item"></i>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
  {% if not queue %}
    <h2 id="search-helper">Queue is empty. Download items to see here.</h2>
  {% endif %}
</div>

