{% load static %}
{% load tags %}

<div class="jsPath" data-js="{% static 'comic_detail_popup.js' %}"></div>
<div class="jsPath" data-js="{% static 'add_new.js' %}"></div>
<div class="search-container">
  <div class="search-bar">
    <div class="search-icon"><i class="fa fa-search"></i></div>
    <input id="searchInput" placeHolder="e.g. Invincible, The Boys" value="{{query}}" />
    <div class="clear-icon" id="clearInput"><i class="fa fa-times"></i></div>
    <select id="source">
      {% for source in sources %}
      <option value="{{source.id}}" {%if source.selected%} selected {%endif%}>{{source.name}}</option>
      {% endfor %}
    </select>
    <button class="active" id="handleSearch">Search</button>
  </div>

  {% if search_results %}
    <div id="search-helper" style="display: none">
      It's easy to add a new comic. <br /> Just write name of the comic you want to add and press Enter or click Search.
    </div>
    <div id="search-comics-container" data-initialized="1">
      {% for item in search_results %}
        <div class="search-comic-item" data-item="{{item | stringify}}" data-media-path="{{media_path}}">
          <img src="{{item.cover}}" loading='lazy'>
          <div class="search-comic-data">
            <div class="title-row">
              <div class="title">{{item.name}} <span>({{item.year}})</span></div>
              <a href="{{item.url}}" target="_blank"><i class="fa fa-external-link"></i></a>
            </div>
            <div class="info-row">
              <div class="info"><i class="fa fa-tags"></i>{{item.genres | format_genres}}</div>
              <div class="info"><i class="fa fa-building"></i>{{item.publisher}}</div>
              <div class="info"><i class="fa fa-files-o"></i>{{item.total_issues}} issues</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div id="search-helper">
      It's easy to add a new comic. <br /> Just write name of the comic you want to add and press Enter or click Search.
    </div>
    
    <div id="search-comics-container" data-initialized="{%if query%}0{%else%}1{%endif%}"></div>
  {% endif %}

  <div class="loading" id="loading" style="display: none"><div></div><div></div></div>
  <div class="error" id="error" style="display: none">
    <p>Couldn't fetch discover data. <span id="error-message"></span></p><br /><button id="handleSearch">Retry</button>
  </div>
</div>

<script src="{% static 'comic_detail_popup.js' %}"></script>

