{% load static %}
{% load tags %}

<div class="search-container">
  <div class="search-bar">
    <div class="search-icon"><i class="fa fa-search"></i></div>
    <input id="searchInput" placeHolder="e.g. Invincible, The Boys" value="{{query}}" />
    <div class="clear-icon" onClick="clearInput()"><i class="fa fa-times"></i></div>
    <select id="source">
      {% for source in sources %}
      <option value="{{source.id}}" {%if source.selected%} selected {%endif%}>{{source.name}}</option>
      {% endfor %}
    </select>
    <button class="active" onClick="handleSearch()">Search</button>
  </div>

  {% if search_results %}
    <div id="search-comics-container">
      {% for item in search_results %}
        <div class="search-comic-item" onClick='showComicDetailPopup({{item | stringify}}, "{{media_path}}")'>
          <img src="{{item.cover}}" loading='lazy'>
          <div class="search-comic-data">
            <div class="title-row">
              <div class="title">{{item.name}} <span>({{item.year}})</span></div>
              <a href="{{item.url}}" target="_blank"><i class="fa fa-external-link"></i></a>
            </div>
            <div class="info-row">
              <div class="info"><i class="fa fa-tags"></i>{{item.genres | format_genres}}</div>
              <div class="info"><i class="fa fa-building"></i>{{item.publisher}}</div>
              <div class="info"><i class="fa fa-files-o"></i>{{item.total_issues}} issues</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% if query %}
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          handleSearch();
        })
      </script>
    {% endif %}
    <div id="search-helper">
      It's easy to add a new comic. <br /> Just write name of the comic you want to add and press Enter or click Search.
    </div>
    
    <div id="search-comics-container"></div>
  {% endif %}

  <div class="loading" id="loading" style="display: none"><div></div><div></div></div>
  <div class="error" id="error" style="display: none">
    <p>Couldn't fetch discover data. <span id="error-message"></span></p><br /><button onClick="handleSearch()">Retry</button>
  </div>
</div>

<script>
  function clearInput() {
    document.getElementById("query").value = "";
  }

  async function handleSearch() {
    changeQuery();

    const query = document.getElementById("searchInput").value;
    const source = document.getElementById("source").value;
    document.getElementById("search-helper").style.display = "none";
    document.getElementById("error").style.display = "none";
    document.getElementById("search-comics-container").innerHTML="";
    document.getElementById("loading").style.display = "block";

    if (query == "") {
      document.getElementById("loading").style.display = "none";
      document.getElementById("loading").style.display = "block";
      return
    }

    const url = "/api/search-remote?query=" + query + "&source=" + source;
    try {
      const response = await fetch(url);
      document.getElementById("loading").style.display = "none";
      
      const result = await response.json();

      if (!response.ok) {
        document.getElementById("error").style.display = "block";
        throw new Error(result.error);
      }

      const container = document.getElementById("search-comics-container");
      container.innerHTML = "";

      result.forEach((item) => {
        container.innerHTML += `
          <div class="search-comic-item" onClick='showComicDetailPopup(${JSON.stringify(item)}, "{{media_path}}")'>
            <img src="${item.cover}" loading='lazy'>
            <div class="search-comic-data">
              <div class="title-row">
                <div class="title">${item.name} <span>(${item.year})</span></div>
                <a href="${item.url}" target="_blank"><i class="fa fa-external-link"></i></a>
              </div>
              <div class="info-row">
                <div class="info"><i class="fa fa-tags"></i>${formatGenres(item.genres)}</div>
                <div class="info"><i class="fa fa-building"></i>${item.publisher}</div>
                <div class="info"><i class="fa fa-files-o"></i>${item.total_issues} issues</div>
              </div>
            </div>
          </div>
        `;
      })
    } catch (error) {
      document.getElementById("error-message").innerHTML = error;
      console.error(error);
    }
  }

  function formatGenres(value) {
    let text = value[0];
    for (let i=1; i<value.length; i++){
      text += `, ${value[i]}`;
    }
    return text;
  }

  function changeQuery() {
    const source = document.getElementById("source").value
    const query = document.getElementById("searchInput").value
    const url = new URL(window.location);

    url.searchParams.set("source", source);
    url.searchParams.set("query", query);
    window.history.pushState({}, "", url);
  }

  var searchInput = document.getElementById("searchInput");
  searchInput.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      handleSearch();
    }
  })
</script>
<script src="{% static 'comic_detail_popup.js' %}"></script>

