{% load static %}

<div class="jsPath" data-js="{%static 'settings.js'%}" />

<div id="toolbar">
  <div class="toolbar-button disabled" id="saveChanges">
    <i class="fa fa-floppy-o"></i>
    <p class="title" id="save-button-text">No Changes</p>
  </div>
</div>

<div class="settings-container">
  <h2 class="group-header">Proxy</h2>
  <div class="group-item">
    <p class="title">Use Proxy</p>
    <div class="input-tip">    
      <input class="input checkbox" type="checkbox" id="useProxy" 
        data-initial={{settings.use_proxy|yesno:"true,false"}}
        {%if settings.use_proxy%}checked{%endif%}>
      </input>
    </div>
  </div>
  <div class="group-item">
    <p class="title">Proxy Type</p>
    <div class="input-tip">    
      <select class="input" id="proxyType" data-initial="{{settings.proxy_type|default:''}}">
        <option value="" {%if not settings.proxy_type%}selected{%endif%}>None</option>
        <option value="http" {%if settings.proxy_type == "http"%}selected{%endif%}>HTTP</option>
        <option value="socks5" {%if settings.proxy_type == "socks5"%}selected{%endif%}>Socks5</option>
      </select>
    </div>
  </div>
  <div class="group-item">
    <p class="title">Proxy Host</p>
    <div class="input-tip">    
      <input class="input" type="text" id='proxyHost' data-initial="{{settings.proxy_host|default:''}}" {%if settings.proxy_host%} value="{{settings.proxy_host}}" {%endif%}></input>
    </div>
  </div>
  <div class="group-item">
    <p class="title">Proxy Port</p>
    <div class="input-tip">    
      <input class="input" type="text" id='proxyPort' data-initial="{{settings.proxy_port|default:''}}" {%if settings.proxy_port%} value="{{settings.proxy_port}}" {%endif%}></input>
    </div>
  </div>
  <div class="group-item">
    <p class="title">Proxy Username</p>
    <div class="input-tip">
      <input class="input" type="text" id="proxyUsername" data-initial="{{settings.proxy_username|default:''}}" {%if settings.proxy_username%} value="{{settings.proxy_username}}" {%endif%}></input>
      <p class="tip">You only need to enter a username and password if one is required. Leave them blank otherwise.</p>
    </div>
  </div>
  <div class="group-item">
    <p class="title">Proxy Password</p>
    <div class="input-tip">
      <input class="input" type="text" id="proxyPassword" data-initial="{{settings.proxy_password|default:''}}" {%if settings.proxy_password%} value="{{settings.proxy_password}}" {%endif%}></input>
      <p class="tip">You only need to enter a username and password if one is required. Leave them blank otherwise.</p>
    </div>
  </div>
</div>

<script>
</script>

