:root{
  --themeColor: #ed4a4a; 
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'open sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  padding-bottom: 50px;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #2a2a2a;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  color: white;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 210px;
  height: 100%;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.navbar-group {
  display: flex;
  flex-direction: column;
}

.navbar-group.active {
  border-left: 3px solid var(--themeColor)
}

.navbar div {
  cursor: pointer;
}

.navbar-item {
  color: white;
  height: 50px;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-item:hover {
  color: var(--themeColor);
}

.navbar-item i {
  padding-top: 2px;
  font-size: 18px;
}

.navbar-item p {
  font-size: 14px;
  padding-left: 10px;
}

.navbar-item.active {
  background-color: #333333;
  color: var(--themeColor);
}

.navbar-child {
  padding-left: 40px;
}

.navbar-child {
  display: none;
}

.navbar-group.active .navbar-child {
  display: block;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #202020;
  overflow-x: scroll;
}

.logo-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.search-bar input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  transition: color 0.3s ease-out;
  width: 200px;
  font-size: 14px;
  padding: 5px;
}

.search-bar input:focus {
  outline: 0;
  border-bottom-color: transparent;
}


.header .profile {
  color: white;
  font-size: 14px;
}

.header .profile:hover {
  color: var(--themeColor);
}

/*  Discover page */

#discover-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.discover-item {
  width: 300px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}

.discover-item:hover{
  background-color: #202020;
  box-shadow: 0 0 12px #000;
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.discover-item img {
  width: 100%;
}

.discover-item h3 {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.discover-item .info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.discover-item .info-container .info {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  background-color: #595959;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}

/* End Discover styles */

/* Search Page styles */
.search-container {
  padding: 20px;
}

.search-container .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  gap: 0;
  width: 100%;
}

.search-container .search-bar div {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  background-color: #2b2b2b;
  height: 100%;
  width: 48px;

}

.search-container .search-bar .search-icon {
  border: 1px solid #dde6e9;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-container .search-bar .clear-icon {
  border: 1px solid #dde6e9;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.search-container .search-bar div i {
  font-size: 20px;
}

.search-container .search-bar input {
  border: 1px solid #dde6e9;
  flex: 1;
  height: 100%;
  padding-left: 10px;
  font-size: 18px;
  background-color: #333;
}

.search-container .search-bar input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#search-helper {
  font-size: 24px;
  color: #ccc;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}


#search-comics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

#search-comics-container {
  margin-top: 30px;
}

.search-comic-item {
  width: 100%;
  min-height: 270px;
  background-color: #2a2a2a;
  display: flex;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
}

.search-comic-item:hover{
  background-color: #202020;
  box-shadow: 0 0 12px #000;
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.search-comic-item img {
  height: 250px;
  min-width: 170px;
}

.search-comic-item .title {
  color: white;
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
}

.search-comic-item .title span {
  color: #999;
}

.search-comic-item .info-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.info-container .info {
  display: flex;
  color: white;
  gap: 5px;
  align-items: center;
  background-color: #595959;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}


/* End Search page */

.loading {
  color: grey;
  margin-left: 46%;
  margin-top: 100px;
}

.loading,
.loading div {
  box-sizing: border-box;
}
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.error {
  background-color: #590909;
  border: 1px solid #b30000;
  color: white;
  width: 100%;
  padding: 15px 20px;
}

.error p {
  display: inline;
}

.error button {
  display: inline-block;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}



