:root{
  --themeColor: #ed4a4a; 
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'open sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  padding-bottom: 50px;
  color: white;
}

button {
  padding: 6px 16px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

button.active {
  background-color: #26be4a;
  border-color: #26be4a;
}
button.active:hover {
  background-color: #1f9c3d;
  border-color: #1f9c3d;
}
button.danger {
  background-color: #b30000;
  border-color: #b30000;
}
button.danger:hover {
  background-color: #a30000;
  border-color: #a30000;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #2a2a2a;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  color: white;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 210px;
  height: 100%;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.navbar-group {
  display: flex;
  flex-direction: column;
}

.navbar-group.active {
  border-left: 3px solid var(--themeColor)
}

.navbar div {
  cursor: pointer;
}

.navbar-item {
  color: white;
  height: 50px;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-item:hover {
  color: var(--themeColor);
}

.navbar-item i {
  padding-top: 2px;
  font-size: 18px;
}

.navbar-item p {
  font-size: 14px;
  padding-left: 10px;
}

.navbar-item.active {
  background-color: #333333;
  color: var(--themeColor);
}

.navbar-child {
  padding-left: 40px;
}

.navbar-child {
  display: none;
}

.navbar-group.active .navbar-child {
  display: block;
}

.notifications {
  width: 210px;
  position: absolute;
  bottom: 20px;
  margin: auto;
}

.notifications .notification {
  width: 90%;
  margin: auto;
  color: white;
  padding: 10px 3px;
}

.notifications .notification.info {
  border-bottom: 2px solid green;
}

.notifications .notification.error {
  border: none;
  border-bottom: 2px solid red;
  background: unset;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #202020;
  overflow-x: scroll;
}

.logo-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.search-bar input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  transition: color 0.3s ease-out;
  width: 200px;
  font-size: 14px;
  padding: 5px;
}

.search-bar input:focus {
  outline: 0;
  border-bottom-color: transparent;
}


.header .profile {
  color: white;
  font-size: 14px;
}

.header .profile:hover {
  color: var(--themeColor);
}

/*  Discover page */

#discover-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.discover-item {
  width: 300px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}

.discover-item:hover{
  background-color: #202020;
  box-shadow: 0 0 12px #000;
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.discover-item img {
  width: 100%;
}

.discover-item h3 {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.discover-item .info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.discover-item .info-container .info {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  background-color: #595959;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}

#toolbar {
  width: 100%;
  height: 60px;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
  padding: 0px 20px;
}

#toolbar select {
  height: 35px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  padding: 0 10px;
}

/* End Discover styles */

/* Search Page styles */
.search-container {
  padding: 20px;
}

.search-container .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  gap: 0;
  width: 100%;
}

.search-container .search-bar div {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  background-color: #2b2b2b;
  height: 100%;
  width: 48px;

}

.search-container .search-bar .search-icon {
  border: 1px solid #dde6e9;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-container .search-bar .clear-icon {
  border: 1px solid #dde6e9;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.search-container .search-bar div i {
  font-size: 20px;
}

.search-container .search-bar input {
  border: 1px solid #dde6e9;
  flex: 1;
  height: 100%;
  padding-left: 10px;
  font-size: 18px;
  background-color: #333;
}

.search-container .search-bar input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.search-container .search-bar select {
  border: 1px solid #dde6e9;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  margin: 0 10px;
  border-radius: 4px;
}

.search-container .search-bar select:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.search-container .search-bar button.active {
  height: 100%;
  font-size: 16px;
}


#search-helper {
  font-size: 24px;
  color: #ccc;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}


#search-comics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

#search-comics-container {
  margin-top: 30px;
}

.search-comic-item {
  width: 100%;
  min-height: 270px;
  background-color: #2a2a2a;
  display: flex;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
}

.search-comic-item:hover{
  background-color: #202020;
  box-shadow: 0 0 12px #000;
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.search-comic-item img {
  height: 250px;
  min-width: 170px;
}

.search-comic-data {
  width: 100%;
}

.search-comic-item .title-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.search-comic-item .title-row .title {
  color: white;
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
}

.search-comic-item .title-row a {
  color: white;
  text-decoration: none;
  font-size: 28px;
}

.search-comic-item .title-row a:hover {
  color: #1b72e2;
}

.search-comic-item .title span {
  color: #999;
}

.search-comic-item .info-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

}

.info-row .info {
  display: flex;
  color: white;
  gap: 5px;
  align-items: center;
  background-color: #595959;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}


/* End Search page */

.loading {
  color: grey;
  margin: auto;
  margin-top: 100px;
}

.loading,
.loading div {
  box-sizing: border-box;
}
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.error {
  background-color: #590909;
  border: 1px solid #b30000;
  color: white;
  width: 100%;
  padding: 15px 20px;
}

.error p {
  display: inline;
}

.error p span {
  font-weight: bold;
}

.error button {
  display: inline-block;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}

#content .error {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

#button-spinner {
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin: 3px 10px;
}
@keyframes l5 {
    0%  {box-shadow: 10px 0 #fff, -10px 0 #fff2;background: #fff }
    33% {box-shadow: 10px 0 #fff, -10px 0 #fff2;background: #fff2}
    66% {box-shadow: 10px 0 #fff2,-10px 0 #fff; background: #fff2}
    100%{box-shadow: 10px 0 #fff2,-10px 0 #fff; background: #fff }
}


/* Popup */

#popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  align-content: center;
  color: white;
}

#popup-container .popup {
  width: 60%;
  min-height: 60%;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

#popup-container .popup .header {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 30px;
  width: 100%;
  font-size: 20px;
}

#popup-container .popup .header i {
  cursor: pointer;
}

#popup-container .popup .footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid grey;
  width: 100%;
  padding: 15px 30px;
  gap: 15px;
}

#popup-container .popup .footer .input {
  display: flex;
  align-items: center;
  gap: 4px;
}

#popup-container .popup .popup-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px;
  flex: 1;
  gap: 20px;
}

#popup-container .popup .popup-content .img {
  flex: 0 20 40%;
}

#popup-container .popup .popup-content .img img {
  width: 100%;
}

#popup-container .popup .popup-content .form {
  flex: 20% 0 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#popup-container .popup .popup-content .form .form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#popup-container .popup .popup-content .form .form-item label {
  font-size: 16px;
  color: white;
}

#popup-container .popup .popup-content .form .form-item span {
  color: #909293;
  font-size: 14px;
  margin-top: -3px;
}

#popup-container .popup .popup-content .form .form-item select,
#popup-container .popup .popup-content .form .form-item .text-input{
  height: 35px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  padding-left: 10px;
}

#popup-container .popup .popup-content .form .form-item .checkbox {
  width: 14px;
}


/* Home page */
.home-comics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 25px;
}

.home-comics-container .comic-item {
  width: 150px;
  background-color: #2a2a2a;
  cursor: pointer;
  text-decoration: none;
}

.home-comics-container .comic-item:hover {
  box-shadow: 0 0 12px #000;
  transition: all 200ms ease-in;
}

.home-comics-container .comic-item img {
  width: 100%;
  height: 221px;
}

.home-comics-container .comic-item p {
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0px 10px 10px 10px;
}

.home-comics-container .comic-item .progress {
  background-color: red;
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
}

.home-comics-container .comic-item .progress .downloaded {
  height: 100%;
  background-color: green;
}

/* End home styles */

/* comic detail */
.comic-detail-container {
  padding: 20px;
  width: 100%;
}

.comic-detail-container .cover-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  margin-bottom: 30px;
}

.comic-detail-container .cover-info .cover {
  width: 35%;
}

.comic-detail-container .cover-info img {
  width: 100%;
}

.comic-detail-container .cover-info .info {
  color: white;
  width: 65%;
}

.comic-detail-container .cover-info .info .description span {
  color: white;
  font-weight: bold;
  font-size: 17px;
  display: block;
  margin-top: 20px;
  margin-bottom: -40px;
}

.comic-detail-container .cover-info .info .description strong {
  font-weight: normal;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags .tag {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  background-color: #595959;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}

.issues-list {
  width: 100%;
}

.issues-list .table {
  color: white;
  width: 100%;
  padding: 0 10px;
  background-color: #333333;
  border: 1px solid #858585;
  border-radius: 4px;
  border-spacing: 0;
}

.issues-list .table .tr:hover {
  background-color: #444444;
}

.issues-list .table .th,
.issues-list .table .td{
  border-top: 1px solid #858585;
  padding: 10px;
  text-align: left;
  background-color: #333333;
  border: 1px solid #858585;
}

.issues-list .table .th {
  border: none;
  color: #d0d0d0;
}

.issues-list .table .td.actions .actions-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.issues-list .table .td.actions i {
  cursor: pointer;
}

.issues-list .table .td.actions i:hover {
  color: grey;
}

.issues-list .table .td.actions a {
  color: white;
  text-decoration: none;
}

.issues-list .search input {
  background-color: #333333;
  border: 1px solid #858585;
  color: white
}

.issues-list .footer {
  background-color: #333333;
  border: 1px solid #858585;
  color: white
}

.issues-list .pagination {
  background-color: #333333;
  color: white
}

.issues-list .pagination-button {
  background-color: #333333 !important;
  border: 1px solid #858585 !important;
  color: white !important;
}

.activity-list {
  margin: 30px;
}

.activity-list table {
  color: white;
  width: 100%;
  padding: 0 10px;
  border-radius: 4px;
  border-spacing: 0;
  font-size: 14px;
}

.activity-list table th,
.activity-list table td{
  border-top: 1px solid #858585;
  padding: 10px;
  text-align: left;
}

.activity-list table th {
  border: none;
}

.activity-list table td.volume,
.activity-list table td.issue,
.activity-list table td.actions,
.activity-list table td.status{
  width: 100px;
}

.activity-list table td.status {
  text-align: center;
}

.activity-list table td.actions .actions-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.activity-list table td.actions i {
  cursor: pointer;
}

.activity-list table td.actions i:hover {
  color: grey;
}

.activity-list table td.actions a {
  color: white;
  text-decoration: none;
}

