{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Racarr</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <script src="{% static 'notifications.js' %}"></script>
  </head>
  <body>
    <div class="header">
      <div class="logo-search">
        <a href="/"><img src="{% static 'logo.png' %}" width=120 /></a>
        <div class="search-bar">
          <i class="fa fa-search"></i>
          <input placeholder="Search" />
        </div>
      </div>
      <i class="fa fa-user profile"></i>
    </div>
    <div class="body">
      <div class="navbar">
        <div class="navbar-group {%block home_group%}{%endblock%}">
          <a href="{% url 'home' %}" class="navbar-item {%block home_active%}{%endblock%}"><i class="fa fa-book" aria-hidden="true"></i><p>Comics</p></a>
          <a href="{% url 'add_new' %}" class="navbar-item navbar-child {%block add_new_active%}{%endblock%}">Add New</a>
          <a href="{% url 'discover' %}" class="navbar-item navbar-child {%block discover_active%}{%endblock%}">Discover</a>
        </div>
        <div class="navbar-group {%block activity_group%}{%endblock%}">
          <a href="{% url 'activity' %}" class="navbar-item {%block activity_active%}{%endblock%}"><i class="fa fa-clock-o" aria-hidden="true"></i><p>Activity</p></a>
        </div>
        <div class="navbar-group {%block settings_group%}{%endblock%}">
          <a href="{% url 'settings' %}" class="navbar-item {%block settings_active%}{%endblock%}"><i class="fa fa-cogs"></i><p>Settings</p></a>
          <a href="" class="navbar-item navbar-child {%block general_active%}{%endblock%}">General</a>
        </div>
        <div class="navbar-group">
          <div class="navbar-item {%block system_active%}{%endblock%}"><i class="fa fa-laptop"></i><p>System</p></div>
        </div>
        <div class="notifications" id="notifications"></div>
      </div>
      <div class="content" id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script>
      function getCookie(name) {
        if (!document.cookie) {
          return null;
        }

        const csrfCookies = document.cookie.split(';')
          .map(c => c.trim())
          .filter(c => c.startsWith(name + '='));

        if (csrfCookies.length === 0) {
          return null;
        }
        return decodeURIComponent(csrfCookies[0].split('=')[1]);
      }

      document.addEventListener("DOMContentLoaded", function () {
          streamNotifications();
      })
    </script>
  </body>
</html>
