{% extends 'base.html' %}
{% load tags %}
{%block home_active%}active{%endblock%}
{%block home_group%}active{%endblock%}

{% block content %}
<div id="toolbar">
  <button class="active" onClick="searchAllMissing({{comic.id}})">Search missing</button>
</div>

<div class="comic-detail-container">
  <div class="cover-info">
    <div class="cover">
      <img src="{{comic.cover.url}}" />
    </div>
    <div class="info">
      <h1>{{comic.name}}</h1>
      <div class="tags">
        <div class="tag"><i class="fa fa-building"></i>{{comic.publisher}}</div>
        <div class="tag"><i class="fa "></i>{{comic.source}}</div>
        <div class="tag"><i class="fa fa-files-o"></i>{{comic.folder}}</div>
        <div class="tag"><i class="fa"></i>{{comic.monitor}}</div>
        <div class="tag"><i class="fa"></i>{{comic.format}}</div>
        {% if comic.tags %}<div class="tag"><i class="fa fa-tags"></i>{{comic.tags}}</div>{% endif %}
      </div>
      <p class="description">{{comic.description|safe|linebreaksbr}}</p>
    </div>
  </div>
  <div class="issues-list">
    <table>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Year</th>
        <th>Volume</th>
        <th>Issue</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    {% for issue in comic.issues.all %}
      <tr>
        <td class="id">{{issue.priority}}</td>
        <td class="name">{{issue.original_text}}</td>
        <td class="year">{{issue.year}}</td>
        <td class="volume">{{issue.volume}}</td>
        <td class="issue">{{issue.issue|floatformat}}</td>
        <td class="status">{% if not issue.file %}<i title="Issue missing from disk" class="fa fa-exclamation-triangle"></i>{% else %}<i class="fa fa-check-circle success"></i>{% endif %}</td>
        <td class="actions">
          <div class="actions-container">
            {% if not issue.file %}
              {% if issue.queue %}
                <i title="Status: {{issue.queue.status}}&#013;Priority: {{issue.queue.priority}}" id="{{issue.id}}" class="fa fa-cloud-download download"></i>
              {% else %}
                <i title="Download issue" id="{{issue.id}}" class="fa fa-download download" onClick="downloadIssue({{issue.id}})"></i>
              {% endif %}
            {% endif %}
            {% if issue.source == "readallcomics" %}<a href="{{issue.remote_id}}"><i title="Open remote link" class="fa fa-external-link"></i>{% endif %}</a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>

<script>
  async function downloadIssue(id) {
    var icon = document.getElementById(id);
    icon.classList.remove("fa-download");
    icon.classList.add("fa-spinner");

    const csrfToken = getCookie("csrftoken")
    const url = "/api/download-issue";
    try {
      const response = await fetch(url, {
        method: "POST", 
        body: JSON.stringify({id: id}),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        }
      });
      
      const result = await response.json();

      if (!response.ok) {
        throw new Error(result.error);
      }

      icon.classList.remove("fa-spinner");
      icon.classList.add("fa-cloud-download");
    } catch (error){
      icon.classList.remove("fa-spinner");
      icon.classList.add("fa-download");
      console.error(error);
    }
  }

  async function searchAllMissing(id) {
    const csrfToken = getCookie("csrftoken")    
    const url = "/api/search-all-missing"
    try {
      const response = await fetch(url, {
        method: "POST",
        body: JSON.stringify({id: id}),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken
        }
      });

      const result = await response.json();
      if (!response.ok) {
        throw new Error(result.error);
      }
    } catch (error) {
      console.error(error)
    }
  }

</script>
{% endblock %}

