{% extends 'base.html' %}
{% load tags %}
{% load static %}
{%block style%}
  <link href="{% static 'gridjs/mermaid.min.css' %}" rel="stylesheet">
{%endblock%}

{%block home_active%}active{%endblock%}
{%block home_group%}active{%endblock%}

{% block content %}
<div id="toolbar">
  <button class="active" onClick="searchAllMissing({{comic.id}})">Search missing</button>
  <button class="danger" onClick="deleteComic({{comic.id}})">Delete</button>
</div>

<div class="comic-detail-container">
  <div class="cover-info">
    <div class="cover">
      <img src="{{comic.cover.url}}" />
    </div>
    <div class="info">
      <h1>{{comic.name}}</h1>
      <div class="tags">
        <div class="tag"><i class="fa fa-building"></i>{{comic.publisher}}</div>
        <div class="tag"><i class="fa fa-link"></i>{{comic.source}}</div>
        <div class="tag"><i class="fa fa-folder-o"></i>{{comic.folder}}</div>
        <div class="tag"><i class="fa fa-folder"></i>{{comic.folder_size | format_size}}</div>
        <div class="tag"><i class="fa fa-eye"></i>{{comic.monitor}}</div>
        <div class="tag"><i class="fa fa-file-o"></i>{{comic.format}}</div>
        {% if comic.tags %}<div class="tag"><i class="fa fa-tags"></i>{{comic.tags}}</div>{% endif %}
      </div>
      <p class="description">{{comic.description|safe|linebreaksbr}}</p>
    </div>
  </div>
  <div class="issues-list" id="wrapper"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new gridjs.Grid({
      columns: [
        "#", "Title", "Year", "Volume", "Issue", { 
          name: 'Size',
          sort: false,
          formatter: (cell) => cell ? cell : gridjs.html(`<i title="Issue missing from disk" class="fa fa-exclamation-triangle"></i>`)
        },
        {
          name: "Actions",
          sort: false,
          formatter: (cell, row) => {
            let html = `<div class="actions-container">`;

            if (cell.filesize === 0) {
              if (cell.queue) {
                html += `<i title="Status: ${cell.queue.status}&#013;Priority: ${cell.queue.priority}"
                           id="${cell.id}"
                           class="fa fa-cloud-download download"></i>`;
              } else {
                html += `<i title="Download issue"
                           id="${cell.id}"
                           class="fa fa-download download"
                           onClick="downloadIssue(${cell.id})"></i>`;
              }
            }

            if (cell.source === "readallcomics") {
              html += `
                <a href="${cell.remote_id}" target="_blank">
                  <i title="Open remote link" class="fa fa-external-link"></i>
                </a>
              `;
            }
            html += "</div>"

            return gridjs.html(html);
          }
        },
      ],
      server: {
        url: '/api/comic/{{comic.id}}/issues?',
        then: data => data.results.map(issue => 
          [issue.priority, issue.original_text, issue.year, issue.volume, issue.issue, issue.filesize, issue]
        ),
        total: data => data.count
      },
      search: {
        server: {
          url: (prev, keyword) => `${prev}&search=${keyword}`
        }
      },
      pagination: {
        limit: 100,
        server: {
          url: (prev, page, limit) => `${prev}&limit=${limit}&offset=${page * limit}`
        }
      },
      sort: {
        server: {
          url: (prev, columns) => {
            if (!columns.length) return prev;
            
            const col = columns[0];
            const dir = col.direction === 1 ? '-' : '';
            let colName = ['priority', 'original_text', 'year', 'volume', 'issue'][col.index];
            
            return `${prev}&ordering=${dir}${colName}`;
         }
        }
      },
      className: {
        td: 'td',
        table: 'table',
        th: 'th',
        tr: 'tr',
        search: 'search',
        footer: 'footer',
        pagination: 'pagination',
        paginationButton: 'pagination-button'
      }
    }).render(document.getElementById("wrapper"));
      
  })

  async function downloadIssue(id) {
    var icon = document.getElementById(id);
    icon.classList.remove("fa-download");
    icon.classList.add("fa-spinner");

    const csrfToken = getCookie("csrftoken")
    const url = "/api/download-issue";
    try {
      const response = await fetch(url, {
        method: "POST", 
        body: JSON.stringify({id: id}),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        }
      });
      
      const result = await response.json();

      if (!response.ok) {
        throw new Error(result.error);
      }

      icon.classList.remove("fa-spinner");
      icon.classList.add("fa-cloud-download");
    } catch (error){
      icon.classList.remove("fa-spinner");
      icon.classList.add("fa-download");
      console.error(error);
    }
  }

  async function searchAllMissing(id) {
    const csrfToken = getCookie("csrftoken")    
    const url = "/api/search-all-missing"
    try {
      const response = await fetch(url, {
        method: "POST",
        body: JSON.stringify({id: id}),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken
        }
      });

      const result = await response.json();
      if (!response.ok) {
        throw new Error(result.error);
      }
    } catch (error) {
      console.error(error)
    }
  }

  async function deleteComic(id) {
    let result = await confirm("Are you sure to delete this comic? All data will be deleted, but not files.")
    if (result) {
      const csrfToken = getCookie("csrftoken")    
      const url = "/api/comic"
      try {
        const response = await fetch(url, {
          method: "DELETE",
          body: JSON.stringify({id: id}),
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken
          }
        });

        const result = await response.json();
        if (!response.ok) {
          throw new Error(result.error);
        }    
        document.location.href = "/";
      } catch (error) {
        console.error(error)
      }
   
    }
  }

</script>
<script src="{% static 'gridjs/gridjs.umd.js' %}"></script>
{% endblock %}

