{% extends 'base.html' %}
{% load tags %}
{%block discover_active%}active{%endblock%}
{%block home_group%}active{%endblock%}

{% block content %}
<div id="toolbar">
  <p>Source:</p>
  <select id="source">
    {% for source in sources %}
    <option value="{{source.id}}" {%if source.selected %} selected {%endif%}>{{source.name}}</option>
    {% endfor %}
  </select>
  <button class="active" onClick="changeSource()">Search</button>
</div>
<div class="loading" id="loading" style="display: none"><div></div><div></div></div>
<div class="error" id="error" style="display: none">
  <p>Couldn't fetch discover data. <span id="error-message"></span><br /></p><button onClick="changeSource()">Retry</button>
</div>
<div id="discover-container">
  {% if discover_data %}
    {% for item in discover_data %}
      <div class="discover-item">
        <img src="{{item.cover}}" loading='lazy'>
        <div>
          <h3>{{item.name}}</h3>
          <div class="info-container">
            <div class="info"><i class="fa fa-calendar"></i>{{item.year}}</div>
            <div class="info"><i class="fa fa-building"></i>{{item.publisher}}</div>
            <div class="info"><i class="fa fa-tags"></i>{{ item.genres | format_genres }}</div>
            <div class="info"><i class="fa fa-files-o"></i>{{item.total_issues}} issues</div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const params = new URLSearchParams(window.location.search);
        var source = params.get("source");
        if (!source){
          source = "{{default_source}}"
        }

        fetchDiscoverData(source);
      })
    </script>
  {% endif %}
</div>

<script>
  async function fetchDiscoverData(source) {
    document.getElementById("loading").style.display = "block";
    document.getElementById("error").style.display = "none";
    const container = document.getElementById("discover-container");
    container.innerHTML = "";

    const url = "/api/discover?source=" + source;
    try {
      const response = await fetch(url);
      document.getElementById("loading").style.display = "none";
      
      const result = await response.json();

      if (!response.ok) {
        document.getElementById("error").style.display = "block";
        throw new Error(result.error);
      }


      result.forEach((item) => {
        container.innerHTML += `
          <div class="discover-item">
            <img src="${item.cover}" loading='lazy'>
            <div>
              <h3>${item.name}</h3>
              <div class="info-container">
                <div class="info"><i class="fa fa-calendar"></i>${item.year}</div>
                <div class="info"><i class="fa fa-building"></i>${item.publisher}</div>
                <div class="info"><i class="fa fa-tags"></i>${formatGenres(item.genres)}</div>
                <div class="info"><i class="fa fa-files-o"></i>${item.total_issues} issues</div>
              </div>
            </div>
          </div>
        `;
      })
    } catch (error) {
      document.getElementById("error-message").innerHTML = error;
      console.error(error);
    }
  }

  function formatGenres(value) {
    let text = value[0];
    for (let i=1; i<value.length; i++){
      text += `, ${value[i]}`;
    }
    return text;
  }

  function changeSource() {
    const source = document.getElementById("source").value
    const url = new URL(window.location);

    url.searchParams.set("source", source);
    window.history.pushState({}, "", url);

    fetchDiscoverData(source);
  }
</script>

{% endblock %}
